# Docker
.env
postgres_data/
backups/

# Python
__pycache__/
*.pyc
venv/
build/
*.log
.*_cache/
*.egg-info/

# Database
storage/
*.db

# Alembic
backend/alembic/versions/
!backend/alembic/versions/.gitkeep
!backend/alembic/versions/README.md

.paddleocr/